<section class="orderDetail">
    <div class="content bg-white">
        <div class="gridArea table-responsive" id="nav-scrollbar">
          <table class="table" *ngIf="orderDetailList && orderDetailList.length">
                <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>UOM</th>
                    <th>Quantity</th>
                    <th *ngIf="discountColumn">Discount Value</th>
                    <th>Price</th>
                    <th *ngIf="taxColumn && orderList?.invoiceUpload">Tax Value</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of orderDetailList; let i = index">
                    <td>{{order.ProductCode}}</td>
                    <td>{{order.ProductName}}</td>
                    <td>{{order.UOMTitle}}</td>
                    <td>{{order.OrderQty}}</td>
                    <td *ngIf="discountColumn">{{(order.Discount || 0) | currency:'PKR '}}</td>
                    <td>{{order.UnitPrice  | currency:'PKR '}}</td>
                    <td *ngIf="taxColumn && orderList?.invoiceUpload">{{order.TaxValue || 0}}</td>
                    <td>{{order.TotalPrice  | currency:'PKR '}}</td>
               
                </tr>
                </tbody>
     
            </table>
  
          <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!orderDetailList.length">No Data Available</span>
        </div>
    </div>
    <div class="summary mt-3 d-md-flex flex-md-row flex-sm-column justify-content-between pb-2" *ngIf="orderDetailList.length">
        <div class="d-flex flex-column flex-fill">
            <!-- <div>
                Gross Amount: <span>{{grossAmount | currency : "PKR "}}</span> 
            </div> -->
            <div class="d-sm-flex flex-sm-row flex-xs-column">
            <div class="flex-fill">Total Discount: <span>{{(orderList?.orderTotalDiscount || 0) | currency:'PKR '}}</span></div>
            <div class="flex-fill">Total Amount: <span>{{netAmount | currency : "PKR "}}</span></div>
            </div>
            <div *ngIf="!orderList?.invoiceUpload">
                <span class="text-danger font-weight-bold">
                   Total price is subject to change based on order approval, tax and discount calculation, if any.
                </span>
            </div>
        </div>
        <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
            <button class="btn btn-primary" routerLink="/user/dashboard">Back</button>
        </div>
    </div>

</section>