<section class="payAccount">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item">Payments</a>
        </li>
    </ol>
    <div class="content">
        <div class="contentHeader">
            <h5>Pay</h5>
        </div>
        <div class="contentArea bg-white p-4" id="nav-scrollbar">
            <form [formGroup]="payAccountForm">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" class="form-control" id="RetailerCode"  placeholder="Retailer Code" formControlName="RetailerCode">
                            <label for="RetailerCode">Retailer Code</label>

                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" id="psID" class="form-control"  placeholder="Payment ID" formControlName="PaymentID">
                            <label for="psID">Payment ID</label>
                        </div>
                    </div>
                  
            
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" id="accNo" class="form-control"  placeholder="Account No" formControlName="BankAccountNumber">
                            <label for="accNo">Account No</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" id="accTitle" class="form-control"  placeholder="Account Title" formControlName="AccountTitle">
                            <label for="accTitle">Account Title</label>

                        </div>
                    </div>
                
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" class="form-control"  placeholder="Beneficiary" id="beneficiary" formControlName="Beneficiary">
                            <label for="beneficiary">Beneficiary</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" id="amount" class="form-control"  placeholder="Amount" formControlName="Amount">
                            <label for="amount">Amount</label>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" class="form-control" id="transactionCharges"  placeholder="Transaction Charges" formControlName="Charges">
                            <label for="transactionCharges"> Transaction Charges</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label password">
                            <input noWhiteSpace [type]="MPINToggle? 'text':'password'" minlength="4" maxlength="4" id="mpin"  class="form-control" formControlName="mPin" placeholder="MPIN">
                            <label for="mpin">MPIN</label>   
                            <span (click)="MPINToggle = !MPINToggle">
                                <img src="../../../../assets/_images/eye.svg" width="17" alt="icon" />
                            </span>
                            <img src="../../../../assets/_images/info.svg" width="14" alt="icon" class="infoIcon"
                            triggers="click" placement="bottom-right" [autoClose]="'outside'" ngbTooltip="MPIN must be 4 digits long"/>                                     
                        </div>
                    </div>
           
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group has-float-label">
                            <input type="text" class="form-control totalAmount" id="total"  placeholder="Total" formControlName="Total">
                            <label for="total">Total</label>
                        </div>
                    </div>
                </div>
                <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
                    <button class="btn btn-primary mr-3" type="button" routerLink="/user/dashboard">Back</button>
                    <button class="btn btn-primary mr-l" type="button" [disabled]="payAccountForm.invalid" (click)="pay()">Pay</button>
                </div>
            </form>
        </div>
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>