.payment{
  .makePaymentBtn{
    margin-top: -16px;
    margin-bottom: 10px;
  }
    .bankingChannelBtn{
      img{
        width: 20px;
        margin-right: 5px;
        vertical-align: top;
      }
    }
}