<section class="updatePassword">
    <h4 class="mb-4 title">New Password</h4>

    <small class="d-block pt-3 pl-3 pb-2 pr-3">Please enter your registered email address to reset your password</small>
    <div class="pb-3 pt-2 pl-3 pr-3">
        <small class="d-block">* Password must have atleast 6 characters.</small>
        <small class="d-block">* Password must inlcude at least 1 Lowercase, UppserCase, Numeric OR Sepecial Character.</small>
    </div>
    <form [formGroup]="updatePasswordForm">
        <div class="form-group">
            <input type="password" noWhiteSpace class="form-control" formControlName="NewPassword" placeholder="Password"
            [ngClass]="{'validationError': updatePasswordForm.controls['NewPassword'].errors && (updatePasswordForm.controls.NewPassword.dirty || updatePasswordForm.controls.NewPassword.touched)}">
       </div>
       <div class="form-group">
        <input type="password" noWhiteSpace class="form-control" formControlName="ConfirmPassword" placeholder="Confirm Password"
        [ngClass]="{'validationError': updatePasswordForm.controls['ConfirmPassword'].errors && (updatePasswordForm.controls.ConfirmPassword.dirty || updatePasswordForm.controls.ConfirmPassword.touched)}">
       </div>
        <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-center">
            <button class="btn btn-lg btn-primary mr-3" type="button" routerLink="/user/dashboard">Skip</button>
            <button class="btn btn-lg btn-primary ml-3" type="button" [disabled]="updatePasswordForm.invalid" (click)="updatePassword()">Update Password</button>
        </div>
    </form>
  </section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>


