<section class="invoiceView" [ngClass]="{'orderChange': viewType == 'order-invoice' && orderInfo && orderInfo.PrePaidNumber && orderInfo.InvoiceStatus != 'Pending'}">
    <ol class="breadcrumb m-0" *ngIf="orderInfo && !showSpinner">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item" *ngIf="viewType == 'payment-invoice'; else other">Payment</a>
            <ng-template #other><a class="breadcrumb-item">Order</a></ng-template>
        </li>
    </ol>
    <ngb-tabset [activeId]="activeTab" *ngIf="!showSpinner">
        <ngb-tab id="payment" *ngIf="viewType == 'payment-invoice' || (viewType == 'order-invoice' && orderInfo && orderInfo.PrePaidNumber && orderInfo.InvoiceStatus != 'Pending')">
          <ng-template ngbTabTitle>Payment</ng-template>
          <ng-template ngbTabContent>
            <app-payment-creation [paymentDetail]="orderInfo" [requestType]="requestType" [distributorList]="distributorList"></app-payment-creation>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="order">
            <ng-template ngbTabTitle>Order</ng-template>
            <ng-template ngbTabContent>
                <app-order-description [orderDescription]="orderInfo"></app-order-description>
            </ng-template>
          </ngb-tab>
        <ngb-tab id="orderDetail">
          <ng-template ngbTabTitle>Order Detail</ng-template>
          <ng-template ngbTabContent>
            <app-order-detail [orderList]="orderDetailList"></app-order-detail>
          </ng-template>
        </ngb-tab>
       
    </ngb-tabset>
  
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>

