<section class="dashboard">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item">
          <a routerLink="/user/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
          <a class="breadcrumb-item">Payment</a>
      </li>
  </ol>

    <ngb-tabset (tabChange)="onTabChange($event)">
        <ngb-tab id="payment">
          <ng-template ngbTabTitle>Payment</ng-template>
          <ng-template ngbTabContent>
            <div class="content">
              <app-searching [searchingCriteria]='filterObjPayment' (filteredData)="onSearchResult($event)"></app-searching>
              <div class="gridArea table-responsive" id="nav-scrollbar">
                <table class="table" *ngIf="paymentsList && paymentsList.length">
                      <thead>
                      <tr>
                          <th>Payment ID</th>
                          <th>Company</th>
                          <th>Status</th>
                          <th>Amount</th>
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let payment of paymentsList; let i = index">
                          <td >{{payment.InvoiceNumber}}</td>
                          <td>{{payment.CompanyName}}</td>
                          <td class="statusWidth">{{payment.Status}}</td>
                          <td>{{payment.TotalPrice | currency:'PKR '}}</td>
                          <td>
                            <div ngbDropdown class="d-inline" placement="bottom-right">
                            <img class="pointer" src="../../../../assets/_images/menu.svg" alt="menu" width="15" ngbDropdownToggle>
                            <div ngbDropdownMenu>
                              <ng-container *userRole="[10]">
                                <button ngbDropdownItem *ngIf="(payment.IsEditable && payment.Status == 'Paid') || (!payment.IsEditable && (payment.Status == 'Cancelled' || payment.Status == 'Blocked' || payment.Status == 'Payment Processing' || payment.Status == 'Paid' || payment.Status == 'Un-paid'))" (click)="viewDetail('payment', payment.RetailerInvoiceId, payment.IsEditable, payment.Status)">View</button>
                              </ng-container>
                              <ng-container *userRole="[9]">
                                  <button ngbDropdownItem *ngIf="payment.Status == 'Un-Paid' && payment.IsEditable" [routerLink] = "['/user/payment', payment.RetailerInvoiceId]">
                                      Edit
                                  </button>
                              </ng-container>
                              <ng-container *userRole="[10]">
                                  <button ngbDropdownItem *ngIf="payment.Status == 'Un-Paid' && !payment.IsEditable" [routerLink] = "['/user/payment-invoice', payment.RetailerInvoiceId]">
                                      View
                                  </button>
                               </ng-container>
                               <ng-container *userRole="[9]">
                                 <button ngbDropdownItem *ngIf="payment.IsEditable && payment.Status == 'Un-Paid'" (click)="openDialog(payment.RetailerInvoiceId, 'delete', 'payment')">Delete</button>
                               </ng-container>
                               <ng-container>
                                <button ngbDropdownItem class="payBy" *ngIf="payment.IsEditable && payment.Status == 'Un-Paid'" (mouseenter)="payBygroupList = true" (mouseleave)="payBygroupList = false">Pay By
                                  <ul class="list-group paymentPayBY" *ngIf="payBygroupList">
                                    <li class="list-group-item" (click)= "openDialogPSID(payment.InvoiceNumber, payment.RetailerInvoiceId)">PS ID </li>
                                    <!-- <li class="list-group-item" (click)= "bankPayment(payment,payment.IsEditable)">JazzCash</li> -->
                                  </ul>
                                </button>
                               </ng-container>

                              </div>
                            </div>
                           
                        </td>
                      </tr>
                      <tr  class="text-center" *ngIf="loadAvailableCount > paymentsList.length">
                        <td colspan="6"> <button class="btn" (click)="loadMore(filterObjPayment.searchMode)">Load More</button></td>
                     </tr>
                      </tbody>
                  </table>
                <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!paymentsList.length && !showSpinner">No Data Available</span>
              </div>
          
            </div>
           
          </ng-template>
        </ngb-tab>
        <ngb-tab id="order">
          <ng-template ngbTabTitle>Order</ng-template>
          <ng-template ngbTabContent>
            <div class="content">
              <app-searching [searchingCriteria]='filterObjOrder' (filteredData)="onSearchResult($event)"></app-searching>
              <div class="gridArea table-responsive" id="nav-scrollbar">
                <table class="table" *ngIf="orderList && orderList.length">
                      <thead>
                      <tr>
                          <th>Order ID</th>
                          <th>Company</th>
                          <th>Created Date</th>
                          <th>Status</th>
                          <th>Amount</th>
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let order of orderList; let i = index">
                          <td>{{order.OrderNumber}}</td>
                          <td>{{order.CompanyName}}</td>
                          <td class="createDateWidth">{{order.CreatedDate |  date: 'dd-MM-yyyy'}}</td>
                          <td class="statusWidth">{{order.Status}}</td>
                          <td>{{order.TotalPrice | currency:'PKR '}}</td>
                          <td>
                            <div ngbDropdown class="d-inline" placement="bottom-right">
                            <img class="pointer" src="../../../../assets/_images/menu.svg" alt="menu" width="15" ngbDropdownToggle>
                            <div ngbDropdownMenu>
                              <ng-container *userRole="[6]">
                                <button ngbDropdownItem *ngIf="order.Status != 'Draft'" (click)="viewDetail('order', order.ID, order.Status, order.InvoiceStatus)">View</button>
                              </ng-container>
                              <ng-container *userRole="[4]">
                                <button ngbDropdownItem *ngIf="order.Status == 'Draft'" [routerLink] = "['/user/order', order.ID]">Edit </button>
                              </ng-container>
                              <ng-container *userRole="[4]">
                                <button ngbDropdownItem *ngIf="order.Status == 'Draft'" (click)="openDialog(order.ID, 'delete', 'order')">Delete</button>
                              </ng-container>
                              <ng-container *userRole="[13]">
                                <button ngbDropdownItem *ngIf="(order.Status == 'Approved' && (order.InvoiceStatus == 'Un-Paid' || order.InvoiceStatus == 'Pending')) || order.Status == 'Pending'" (click)="openDialog(order.ID, 'cancel', 'order')">Cancel</button>
                              </ng-container>
                              </div>
                            </div>
                           
                        </td>
                      </tr>
                      <tr  class="text-center" *ngIf="loadAvailableOrderCount > orderList.length">
                        <td colspan="6"> <button class="btn" (click)="loadMore(filterObjOrder.searchMode)" >Load More</button></td>
                     </tr>
                      </tbody>
                  </table>
                <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!orderList.length && !showSpinner">No Data Available</span>
              </div>
          
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>


<div id="paymentform">

  <form action="https://sandbox.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform/" method="POST"
      id="frmPayment">

      <input type="hidden" name="pp_Version" id="pp_Version" [value]="lstPayAxis.pp_Version">
      <input type="hidden" name="pp_TxnType" id="pp_TxnType" [value]="lstPayAxis.pp_TxnType">
      <input type="hidden" name="pp_Language" id="pp_Language" [value]="lstPayAxis.pp_Language">
      <input type="hidden" name="pp_TxnRefNo" id="pp_TxnRefNo" [value]="lstPayAxis.pp_TxnRefNo">
      <input type="hidden" name="pp_MerchantID" id="pp_MerchantID" [value]="lstPayAxis.pp_MerchantID">
      <input type="hidden" name="pp_SubMerchantID" id="pp_SubMerchantID" [value]="lstPayAxis.pp_SubMerchantID">
      <input type="hidden" name="pp_Password" id="pp_Password" [value]="lstPayAxis.pp_Password">
      <input type="hidden" name="pp_Amount" id="pp_Amount" [value]="lstPayAxis.pp_Amount">
      <input type="hidden" name="pp_TxnCurrency" id="pp_TxnCurrency" [value]="lstPayAxis.pp_TxnCurrency">
      <input type="hidden" name="pp_TxnDateTime" id="pp_TxnDateTime" [value]="lstPayAxis.pp_TxnDateTime">
      <input type="hidden" name="pp_TxnExpiryDateTime" id="pp_TxnExpiryDateTime"
          [value]="lstPayAxis.pp_TxnExpiryDateTime">
      <input type="hidden" name="pp_BillReference" id="pp_BillReference" [value]="lstPayAxis.pp_BillReference">
      <input type="hidden" name="pp_Description" id="pp_Description" [value]="lstPayAxis.pp_Description">
      <input type="hidden" name="pp_ReturnURL" id="pp_ReturnURL" [value]="lstPayAxis.pp_ReturnURL">
      <input type="hidden" name="ppmpf_1" id="ppmpf_1" [value]="lstPayAxis.ppmpf_1">
      <input type="hidden" name="ppmpf_2" id="ppmpf_2" [value]="lstPayAxis.ppmpf_2">
      <input type="hidden" name="ppmpf_3" id="ppmpf_3" [value]="lstPayAxis.ppmpf_3">
      <input type="hidden" name="ppmpf_4" id="ppmpf_4" [value]="lstPayAxis.ppmpf_4">
      <input type="hidden" name="ppmpf_5" id="ppmpf_5" [value]="lstPayAxis.ppmpf_5">
      <input type="hidden" name="pp_SecureHash" id="pp_SecureHash" [value]="lstPayAxis.pp_SecureHash">


  </form>
</div>
