<section class="dashboard">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a routerLink="/user/dashboard">Dashboard</a>
      </li>
      <li class="breadcrumb-item">
          <a class="breadcrumb-item">Payment</a>
      </li>
  </ol>
    <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle>Payment</ng-template>
          <ng-template ngbTabContent>
            <div class="content">

              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="searchingOption" (change)="selectSearch()">
                      <option value="" selected>Select Criteria</option>
                      <option *ngFor="let option of searchBY">{{option}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4" [ngSwitch]="searchingOption">
                  <div class="form-group" *ngSwitchCase="'Payment ID'">
                    <input class="form-control" #search placeholder="Payment ID" />
                  </div>
                  <div class="form-group" *ngSwitchCase="'Company'">
                    <input class="form-control" #search placeholder="Company" />
                  </div>
                  <div class="form-group" *ngSwitchCase="'Created Date'">
                    <input
                    #myRangeInput
                   class="form-control" 
                   placeholder="mm-dd-yyyy - mm-dd-yyyy"
                    name="dp" [displayMonths]="2" [navigation]="'select'" [outsideDays]="'visible'"
                    [showWeekNumbers]="false" ngbDatepicker #d="ngbDatepicker" [dayTemplate]="t" (click)="d.toggle()" [autoClose]="'outside'"
                   [(ngModel)]="model" 
                   ngbDatepicker 
                   [maxDate]="maxDate"
                   [minDate]="minDate"
                   autocomplete="off">
           
                   <ng-template #t let-date="date" let-focused="focused">
                       <span class="custom-day"
                           [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                           [class.faded]="isHovered(date) || isInside(date)"
                           (click)="onDateSelection(date)"
                           (mouseenter)="hoveredDate = date"
                           (mouseleave)="hoveredDate = null"
                           >
                       {{ date.day }}
                       </span>
                   </ng-template>
                  </div>

                  <div class="form-group" *ngSwitchCase="'Status'">
                    <select class="form-control" #search (change)="filterByStatus(search)">
                      <option value="" selected>Status</option>
                      <option>Paid</option>
                      <option>Un-paid</option>
                    </select>
                  </div>

                  <div class="form-group d-flex" *ngSwitchCase="'Amount'">
                    <input class="form-control" placeholder="Min Amount" /> 
                    <span class="mr-2 ml-2 separator"></span> 
                    <input class="form-control" placeholder="Max Amount" />
                  </div>
                </div>


              </div>
              

              <div class="gridArea table-responsive" id="nav-scrollbar">

                <table class="table" *ngIf="paymentsList && paymentsList.length">
                      <thead>
                      <tr>
                          <th>Payment ID</th>
                          <th>Company</th>
                          <th>Created Date</th>
                          <th>Status</th>
                          <th>Amount</th>
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let payment of paymentsList; let i = index">
                          <td>{{payment.InvoiceNumber}}</td>
                          <td>{{payment.CompanyName}}</td>
                          <td class="createDateWidth">{{payment.CreatedDate |  date: 'dd-MM-yyyy'}}</td>
                          <td class="statusWidth">{{payment.Status}}</td>
                          <td>{{payment.TotalPrice}}</td>
                          <td>
                            <div ngbDropdown class="d-inline" placement="bottom-right">
                            <img class="pointer" src="../../../../assets/_images/menu.svg" alt="menu" width="15" ngbDropdownToggle>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngIf="(payment.IsEditable && payment.Status == 'Paid') || (!payment.IsEditable && (payment.Status == 'Paid' || payment.Status == 'Un-paid'))" [routerLink] = "['/user/paymentDetail', payment.RetailerInvoiceId, payment.IsEditable]">View</button>
                                <button ngbDropdownItem *ngIf="payment.Status == 'Un-Paid'" [routerLink] = "['/user/payment', payment.RetailerInvoiceId, payment.IsEditable]">Edit</button>
                                <button ngbDropdownItem *ngIf="payment.IsEditable && payment.Status == 'Un-Paid'" (click)="openDialog(payment.RetailerInvoiceId)">Delete</button>
                              </div>
                            </div>
                           
                        </td>
                      </tr>
                      <tr  class="text-center" *ngIf="loadAvailable">
                        <td colspan="6"> <button class="btn" (click)="loadMore()" >Load More</button></td>
                     </tr>
                      </tbody>
                  </table>
                <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!paymentsList.length && !showSpinner">No Data Available</span>
              </div>
          
            </div>
           
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>Order</ng-template>
          <ng-template ngbTabContent>
            <div class="content">

              <div class="gridArea table-responsive" id="nav-scrollbar">
                <table class="table" *ngIf="paymentsList && paymentsList.length">
                      <thead>
                      <tr>
                          <th>Order ID</th>
                          <th>Company</th>
                          <th>Created Date</th>
                          <th>Amount</th>
                          <th>Status</th>
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let order of orderList; let i = index">
                          <td>{{order.OrderNumber}}</td>
                          <td>{{order.CompanyName}}</td>
                          <td class="createDateWidth">{{order.CreatedDate |  date: 'dd-MM-yyyy'}}</td>
                          <td>{{order.TotalPrice}}</td>
                          <td class="statusWidth">{{order.Status}}</td>
                          <td>
                            <div ngbDropdown class="d-inline" placement="bottom-right">
                            <img class="pointer" src="../../../../assets/_images/menu.svg" alt="menu" width="15" ngbDropdownToggle>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem [routerLink] = "['/user/orderDetail', order.ID]">View</button>
                                <button ngbDropdownItem>Edit</button>
                                <button ngbDropdownItem>Delete</button>
                                <button ngbDropdownItem>Cancel</button>
                              </div>
                            </div>
                           
                        </td>
                      </tr>
                      <tr  class="text-center" *ngIf="loadAvailableOrder">
                        <td colspan="6"> <button class="btn" (click)="loadMore()" >Load More</button></td>
                     </tr>
                      </tbody>
                  </table>
                <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!orderList.length && !showSpinner">No Data Available</span>
              </div>
          
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
