@import "../../../../assets/_scss/_variables";
.dashboard{
    ngb-tabset{
        .nav-tabs{
            .nav-item {
                .nav-link{
                    background: unset !important;
                    border: unset;
                    &.active{
                        color: $baseColor;
                        border-bottom: 1px solid $baseColor;
                    }
                }
            }
        }
    }
}