@font-face {
    font-family: 'source_sans_prolight';
    src: url('../_fontsLibrary/sourcesanspro-light-webfont.woff2') format('woff2'), url('../_fontsLibrary/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'source_sans_proregular';
    src: url('../_fontsLibrary/sourcesanspro-regular-webfont.woff2') format('woff2'), url('../_fontsLibrary/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../_fontsLibrary/sourcesanspro-semibold-webfont.woff2') format('woff2'), url('../_fontsLibrary/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }