header{
  box-shadow: 0px 0px 7px -2px #7a7979;
  border-bottom: 1.5px solid #a7a7a7;
  z-index: 2;
  position: relative;
    .navbar-brand{
      .logo{
          width: 90px;
          vertical-align: top;
      }
    }
    .navbar-toggler{
      border: unset;
      &:focus{
        border: unset;
        outline: unset;
      }
    }
  
  }
  