@import '../../../assets/_scss/_variables';
header{
  box-shadow: 0px 0px 7px -2px #7a7979;
  border-bottom: 1.5px solid #a7a7a7;
  z-index: 3;
  position: relative;
    .navbar-brand{
      .logo{
          width: 90px;
          vertical-align: top;
      }
      &:focus{
        outline: unset;
      }
    }
    .navbar-toggler{
      border: unset;
      &:focus{
        border: unset;
        outline: unset;
      }
    }
    .notifyBell{
      svg{
        filter: grayscale(100%);
      }
      &.unread{
        svg{
          filter: grayscale(0);
        }
      }
      &.show{
        &.dropdown{
          &::after{
            content: '';
            position: absolute;
            bottom: -16px;
            right: 0;
            width: 0;
            height: 0;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 11px solid #2f2f2f61;
          }
        }
      }
      .notifications{
        top: 40px !important;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,.15);
        .modal-header{
          .modal-title{
           color: $baseFontColor;
          }
        }
        .list-group{
          width: 320px;
          max-height: 315px;
          overflow-y: auto;
          .list-group-item{
            padding: .4rem 0.9rem;
            &.no-notification{
              color: $baseFontColor;
            }
            &:first-child{
              border-top-left-radius: unset;
              border-top-right-radius: unset;
            }
            .message{
            font-size: 13px;
            }
            &.unreadNotify{
              background-color: #f8f8f8;
            }
            .close{
              font-size: 22px;
            }
          }
        }
        .modal-footer{
          justify-content: center;
          cursor: default;
          button{
            background: unset;
            outline: unset;
            border: unset;
            padding: 0;
            font-family: $baseSourceSansproSemiBold;
            &:hover{
              color: #000;
            }
          }
        }
     
      }
      
    }

    
  //   @media only screen and (max-width:460.9px){
     
  //     .notifyBell{
  //       &.show{
  //         &.dropdown{
            
  //         }
  //       }
  //       .notifications{
  //         right: -105px !important;
  //       }

  //   }
  // }
  
  }
  