header{
  box-shadow: 0px 0px 7px -2px #7a7979;
  border-bottom: 1.5px solid #a7a7a7;
  z-index: 1;
  position: relative;
    .navbar-brand{
      .logo{
          width: 90px;
          vertical-align: top;
      }
      &:focus{
        outline: unset;
      }
    }
    .navbar-toggler{
      border: unset;
      &:focus{
        border: unset;
        outline: unset;
      }
    }
    .notifyBell{
      svg{
        filter: grayscale(100%);
      }
      &.unread{
        svg{
          filter: grayscale(0);
        }
      }
      &.show{
        &.dropdown{
          &::after{
            content: '';
            position: absolute;
            bottom: -16px;
            right: 0;
            width: 0;
            height: 0;
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 11px solid #2f2f2f61;
          }
        }
      }
      .notifications{
        width: 320px;
        height: 350px;
        overflow-y: auto;
        top: 40px !important;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,.15);
        .list-group-item{
          font-size: 15px;
        }
      }
      
    }
  
  }
  