<section class="createMPIN">
    <div class="contentArea bg-white p-4">
        <h6 class="contentSubTitle">Create MPIN</h6>
        <form [formGroup]="createMPINForm">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label">
                        <input type="text" readonly noWhiteSpace id="selectaccount" class="form-control" formControlName="AccountTitle" placeholder="Select Account | Wallet">
                        <label for="selectaccount">Select Account | Wallet</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" >
                    <div class="form-group has-float-label">
                        <input type="number" readonly noWhiteSpace id="accountno" class="form-control" formControlName="AccountNumber" placeholder="Account No">
                        <label for="accountno">Account No</label>
                    </div>
                </div>
                <ng-container>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label position-relative">
                            <input type="number" disabled noWhiteSpace id="cnicno" class="form-control" formControlName="CNIC" placeholder="CNIC No">
                            <label for="cnicno">CNIC No</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label password">
                            <input numberOnly type="text" minlength="4" maxlength="4" [type]="MPINToggle? 'text':'password'" id="mpin"  class="form-control" formControlName="mPin" placeholder="Enter MPIN">
                            <label for="mpin">Enter MPIN</label>
                            <span (click)="MPINToggle = !MPINToggle">
                                <img src="../../../../assets/_images/eye.svg" width="17" alt="icon" />
                            </span>
                            <img src="../../../../assets/_images/info.svg" width="14" alt="icon" class="infoIcon"
                            triggers="click" placement="bottom-right" [autoClose]="'outside'" ngbTooltip="MPIN must be 4 digits long"/>                                  
                        </div>
                    </div>
                </ng-container>
         
            </div>
            <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
                <button class="btn btn-primary" type="button" (click)="gotoBack('back')" *ngIf="data.redirectFrom != 'addAccount'">Back</button>
                <button class="btn btn-primary ml-3" type="button" [disabled]="createMPINForm.invalid" (click)="createMPIN()">Create MPIN</button>
            </div>
    
        </form>
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
