<section class="changeMPIN">
    <div class="contentArea bg-white p-4">
        <h6 class="contentSubTitle">Enter Old MPIN</h6>
        <form [formGroup]="changeMPINForm">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label password">
                        <input minlength="4" maxlength="4" noWhiteSpace [type]="oldMPINToggle? 'text':'password'" id="oldmpin" class="form-control" formControlName="oldPin" placeholder="Old MPIN">
                        <label for="oldmpin">Old MPIN</label>
                        <span (click)="oldMPINToggle=!oldMPINToggle">
                            <img src="../../../../assets/_images/eye.svg" alt="icon" width="17" />
                        </span>
                        <!-- <p *ngIf="passwordForm.controls['Password'].errors || oldPasswordError" class="errorMessage">
                            <small *ngIf="oldPasswordError && !passwordForm.controls['Password'].errors">Password mismatch</small>
                        </p> -->
                    </div>
                </div>
            </div>
            <h6 class="contentSubTitle">Enter New MPIN</h6>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label password">
                        <input minlength="4" maxlength="4" noWhiteSpace [type]="newMPINToggle? 'text':'password'" id="newmpin" class="form-control" formControlName="newPin"  placeholder="New MPIN">
                        <label for="newmpin">New MPIN</label>
                        <span (click)="newMPINToggle = !newMPINToggle">
                            <img src="../../../../assets/_images/eye.svg" width="17" alt="icon" />
                        </span>
                        <img src="../../../../assets/_images/info.svg" width="14" alt="icon" class="infoIcon"
                        triggers="click" placement="bottom-right" [autoClose]="'outside'" ngbTooltip="MPIN must be 4 digits long"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label password">
                        <input minlength="4" maxlength="4" noWhiteSpace [type]="confirmMPINToggle ? 'text':'password'" id="confirmmpin"  class="form-control" formControlName="confirmmPin" placeholder="Confirm MPIN">
                        <label for="confirmmpin">Confirm MPIN</label>
                        <span (click)="confirmMPINToggle=!confirmMPINToggle">
                            <img src="../../../../assets/_images/eye.svg" alt="icon" width="17" />
                        </span>
                        <!-- <p *ngIf="newPasswordError" class="errorMessage">
                            <small>{{newPasswordError}}</small>
                        </p> -->
                    </div>
                </div>
            </div>
            <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
                <button class="btn btn-primary" type="button" (click)="gotoBack()">Back</button>
                <button class="btn btn-primary ml-3" type="button" [disabled]="changeMPINForm.invalid" (click)="changeMPIN()">Change MPIN</button>
            </div>
    
        </form>
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
