<section class="generalView" [ngClass]="{'orderChange': viewType == 'invoiceView'}">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item" *ngIf="viewType == 'orderView'; else other">Order</a>
            <ng-template #other><a class="breadcrumb-item">Payment</a></ng-template>
        </li>
    </ol>
    <ngb-tabset [activeId]="activeTab">
        <ngb-tab id="order">
          <ng-template ngbTabTitle>Order</ng-template>
          <ng-template ngbTabContent>
            <app-order-description [orderDescription]="orderInfo"></app-order-description>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="orderDetail">
          <ng-template ngbTabTitle>Order Detail</ng-template>
          <ng-template ngbTabContent>
            <app-order-detail [orderList]="orderDetailList"></app-order-detail>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="payment">
            <ng-template ngbTabTitle>Payment</ng-template>
            <ng-template ngbTabContent>
                <app-payment-view [paymentDetail]="orderInfo" [viewType]='viewType'></app-payment-view>
            </ng-template>
          </ngb-tab> 
    </ngb-tabset>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
