<section class="internalSupport">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item">Support</a>
        </li>
    </ol>
    <div class="content">
        <div class="d-flex justify-content-between align-items-center contentHeader">
                <h5>Support</h5>
                <button class="btn btn-primary mb-2 ml-3" type="button" routerLink="/user/support/0">Add Ticket</button>
        </div>
        <app-searching [searchingCriteria]='filterObj' (filteredData)="onSearchResult($event)"></app-searching>
        <div class="gridArea table-responsive" id="nav-scrollbar">
                <table class="table" *ngIf="supportList && supportList.length">
                    <thead>
                    <tr>
                        <th>Ticket ID</th>
                        <th>Issue Type</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of supportList; let i = index">
                        <td> {{item.TicketNumber}} </td>
                        <td> {{item.IssueType}} </td>
                        <td> {{item.CreatedDate |  date: 'dd-MM-yyyy'}} </td>
                        <td> {{item.Status}} </td>
                        <td>
                            <div ngbDropdown class="d-inline" placement="bottom-right">
                            <img class="pointer" src="../../../../assets/_images/menu.svg" alt="menu" width="15" ngbDropdownToggle>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem [routerLink] = "['/user/support', item.ID]">View</button>
                                <button ngbDropdownItem *ngIf="item.Status == 'Pending'" (click)="openDialog(item.ID)">Delete</button>
                              </div>
                            </div>
                           
                        </td>
                    </tr>
                    <tr  class="text-center" *ngIf="loadAvailableCount > supportList.length">
                        <td colspan="5"> <button class="btn" (click)="loadMore()" >Load More</button></td>
                    </tr>
                    </tbody>
                </table>
            <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!supportList.length && !showSpinner">No Data Available</span>
        </div>
    </div>
</section>
<ngx-spinner [visible]="showSpinner"></ngx-spinner>
