<section class="internalSupport">
    <div class="container-fluid">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item">Support</a>
        </li>
    </ol>
    <div class="content">
        <div class="d-flex justify-content-between align-items-center contentHeader">
                <h5>Support</h5>
                <button class="btn btn-lg btn-primary ml-3" type="button" routerLink="/user/support/0">Add Ticket</button>
        </div>
        <div class="gridArea table-responsive" id="nav-scrollbar">
                <table class="table" *ngIf="lstSupport && lstSupport.length">
                    <thead>
                    <tr>
                        <th>Token ID</th>
                        <th>Issue Type</th>
                        <th>Created Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of lstSupport; let i = index">
                        <td> {{item.TicketNumber}} </td>
                        <td> {{item.IssueType}} </td>
                        <td> {{item.CreatedDate |  date: 'dd-MM-yyyy'}} </td>
                        <td> {{item.Status}} </td>
                        <td>
                            <div ngbDropdown class="d-inline" placement="bottom-right">
                            <img class="pointer" src="../../../../assets/_images/menu.svg" alt="menu" width="15" ngbDropdownToggle>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem (click)="gotoView(item.ID)">View</button>
                                <button ngbDropdownItem (click)="openDialog(item.ID)">Delete</button>
                              </div>
                            </div>
                           
                        </td>
                    </tr>
                    <tr  class="text-center" *ngIf="loadAvailable">
                        <td colspan="5"> <button class="btn" (click)="getSupportList()" >Load More</button></td>
                    </tr>
                    </tbody>
                </table>
            <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!lstSupport.length && !showSpinner">No Data Available</span>
        </div>
    <!-- <app-table></app-table> -->
    </div>
</div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
