<section class="internalSupport">
    <div class="container-fluid">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item">Support</a>
        </li>
    </ol>
    <div class="content">
        <div class="d-flex justify-content-between align-items-center contentHeader">
                <h5>Support</h5>
                <button class="btn btn-lg btn-primary ml-3" type="button" routerLink="/user/support/0">Add Ticket</button>
        </div>
        <div class="gridArea">
            <div class="table-responsive" style="overflow-y: auto;height: 387px;"  id="nav-scrollbar">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Token ID</th>
                        <th scope="col">Issue Type</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let check of lstSupport">
                        <td> {{check.TicketNumber}} </td>
                        <td> {{check.IssueType}} </td>
                        <td> {{check.CreatedDate |  date: 'dd/MM/yy'}} </td>
                        <td> {{check.Status}} </td>
                        <td></td>
                    </tr>
                <tr  style="text-align: center;"  *ngIf="loadAvailable">
                    <td colspan="5"> <a  href="javascript:void(0);" (click)="search()" > Load More</a></td>
                </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!-- <app-table></app-table> -->
    </div>
</div>
</section>