<div class="overlay d-lg-none" *ngIf="navigationToggle" (click)="navigationToggle=false"></div>
<app-header [navigationState]="navigationToggle" (navToggling)='navigationToggle = $event'></app-header>
<main>
  <section class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-2 d-none d-lg-block navigation">
        <app-sidebar ></app-sidebar>
      </div>
      <div class="navigation d-lg-none" *ngIf="navigationToggle" [@slideInOut]>
        <app-sidebar (navToggling)='navigationToggle = $event'></app-sidebar>
      </div>
      <div class="col-lg-10 contentPages" [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
            <router-outlet class="maincontent" #o="outlet"></router-outlet>
      </div>
    </div>
</section>
</main>



