<section class="profile">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/user/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-item">Profile</a>
            </li>
        </ol>
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle> <div class="mr-5"> Profile </div></ng-template>
                <ng-template ngbTabContent>

                    <div class="contentArea bg-white p-4">
                        <h6 class="contentSubTitle">Profile Information</h6>
                        <form [formGroup]="profileFormGroup">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label">
                                        <input type="text" id="retailercode" class="form-control" formControlName="RetailerCode" placeholder="Retailer Code">
                                        <label for="retailercode">Retailer Code</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label">
                                        <input type="text" id="name" class="form-control" formControlName="Name" placeholder="Full Name">
                                        <label for="name">Full Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label position-relative">
                                        <input type="email" id="email"  class="form-control" formControlName="Email" placeholder="Email Address">
                                        <label for="Email">Email Address</label>
                                        <img src="../../../../assets/_images/edit.svg" width="15px" class="mr-3 position-absolute" style="right: 5px;  top: 35%;" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label">
                                        <input type="text" id="cnic"  class="form-control" formControlName="CNIC" [textMask]="{mask: cnicMask}" placeholder="CNIC No">
                                        <label for="cnic">CNIC No</label>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label">
                                        <input type="text" id="mobile" [textMask]="{mask: mobileMask}" class="form-control" formControlName="Mobile" placeholder="Mobile No" >
                                        <label for="mobile">Mobile No</label> 
                                        <img src="../../../../assets/_images/edit.svg" width="15px" class="mr-3 position-absolute" style="right: 5px;  top: 35%;" />                                        
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label">
                                        <input type="text" id="createddate"  class="form-control" formControlName="CreatedDate" placeholder="Created Date">
                                        <label for="createddate">Created Date</label>                                         
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-float-label">
                                        <textarea rows="2" id="address" cols="58" class="form-control" placeholder="Address" formControlName="Address"></textarea>
                                        <label for="address">Address</label>
                                        <img src="../../../../assets/_images/edit.svg" width="15px" class="mr-3 position-absolute" style="right: 5px;  top: 35%;" />                                        
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="button" (click)="updateProfile()" [disabled]="!profileFormGroup.valid">Update</button>
                            </div>

                        </form>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle> <div class="mr-5"> Account & Wallet</div></ng-template>
                <ng-template ngbTabContent>

                        <div class="contentArea bg-white p-4">
                            <h6 class="contentSubTitle">Add Wallet & Account</h6>
                           
                        </div>

                </ng-template>
            </ngb-tab>

            <ngb-tab>
                <ng-template ngbTabTitle >Change Password </ng-template>
                <ng-template ngbTabContent>
                    <div class="contentArea bg-white p-4">
                        <h6 class="contentSubTitle">Enter old password</h6>
                        <form [formGroup]="passwordFormGroup">

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label position-relative">
                                        <input [type]="passToggle ? 'text':'password'" id="oldpassword" class="form-control" formControlName="Password" placeholder="Old Password">
                                        <label for="oldpassword">Old Password</label>
                                        <img src="../../../../assets/_images/bell.svg" (click)="passToggle=!passToggle" width="10px" class="mr-3 position-absolute"
                                            style="right: 10px; top: 45%;" />
                                    </div>
                                </div>
                            </div>
                            <h6 class="contentSubTitle">Enter new password</h6>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label position-relative">
                                        <input [type]="newToggle ? 'text':'password'" id="newpassword" class="form-control" formControlName="ConfirmPassword" placeholder="New Password">
                                        <label for="newpassword">New Password</label>
                                        <img src="../../../../assets/_images/bell.svg" (click)="newToggle=!newToggle" width="10px" class="mr-3 position-absolute"
                                            style="right: 10px; top: 45%;" />
                                        <img src="../../../../assets/_images/bell.svg" width="10px" class="position-absolute" style="right: 10px; top: 45%;" />
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group has-float-label position-relative">
                                        <input  [type]="confirmToggle ? 'text':'password'" id="confirmpassword"  class="form-control" formControlName="NewPassword" placeholder="Confirm Password">
                                        <label for="confirmpassword">Confirm Password</label>
                                        <img src="../../../../assets/_images/bell.svg" (click)="confirmToggle=!confirmToggle" width="10px" class="mr-3 position-absolute"
                                            style="right: 10px; top: 45%;" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-primary" type="button" (click)="changePassword()" [disabled]="!passwordFormGroup.valid">Update Password</button>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
