@import '../../../../assets/_scss/_variables';
.profile
{
    .nav-tabs{
        .nav-item{
            &:first-child {
                .nav-link{
                    padding-left: 0px;
                }
               
            }
            .nav-link{
                border: unset;
              
                &:hover{
                    border: unset;

                }

                &.active{
                    background-color: transparent;
                    border: unset;
                    color: $baseColor;
                    border-bottom: 1px solid $baseColor;
                }
            }
        }
    }

    .tab-content
    {
        padding-left:0px;
        padding-right:0px;
        
    }
}