<section class="payment">
    <ol class="breadcrumb m-0" *ngIf="requestType">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item">Payment</a>
        </li>
    </ol>
    <div class="content">
        <div class="contentHeader" *ngIf="requestType">
            <h5>Payment</h5>
        </div>
        <div class="text-right makePaymentBtn" *ngIf="paymentPrepaidNumber && requestType">
            <button class="btn btn-primary" type="button" (click)="resetForm()">Make New Payment</button>
        </div>
        <div class="contentArea bg-white p-4">
            <form [formGroup]="paymentForm">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <select  class="form-control" id="company" formControlName="DealerCode"
                            [ngClass]="{'validationError': paymentForm.controls['DealerCode'].errors && (paymentForm.controls.DealerCode.dirty || paymentForm.controls.DealerCode.touched)}">
                                <option value="null" disabled selected>Select Company</option>
                                <option *ngFor="let distributor of distributorList" [value]="distributor.DealerCode">{{distributor.CompanyName}}</option>
                            </select>
                            <label for="company">Company</label>
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="number" min="1" id="amount" autocomplete="off" amountsOnly formControlName="PaidAmount" class="form-control" placeholder="Amount" 
                            [ngClass]="{'validationError': paymentForm.controls['PaidAmount'].errors && (paymentForm.controls.PaidAmount.dirty || paymentForm.controls.PaidAmount.touched)}">
                            <label for="amount">Amount</label>
                            <p *ngIf="paymentForm.controls['PaidAmount'].errors" class="errorMessage">
                                <small *ngIf="!paymentForm.controls['PaidAmount'].hasError('pattern') && paymentForm.controls['PaidAmount'].hasError('min') && (paymentForm.controls.PaidAmount.dirty || paymentForm.controls.PaidAmount.touched)">Amount cannot be less than 500</small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
                    <button class="btn btn-primary" type="button" *ngIf="!paymentPrepaidNumber" [disabled]="paymentForm.invalid" (click)="savePayment()" >Next</button>
                    <button class="btn btn-primary mr-3" type="button" *ngIf="paymentPrepaidNumber" (click)="viewVoucher()" >View Voucher</button>
                    <button class="btn btn-primary ml-3" type="button" *ngIf="paymentPrepaidNumber && !updateBtn" routerLink="/user/dashboard">Back</button>
                    <button class="btn btn-primary ml-3" type="button" *ngIf="paymentPrepaidNumber && updateBtn" [disabled]="paymentForm.invalid"  (click)="savePayment()">Update</button>
                </div>
            </form>
        </div>
        <div class="contentArea bg-white p-4 mt-3" *ngIf="paymentPrepaidNumber">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" id="paymentid" class="form-control" placeholder="Payment ID" [value]="paymentPrepaidNumber" readonly>
                            <label for="paymentid">Payment ID</label>
                        </div>
                    </div>
                </div>
                <h6 class="contentSubTitle">Payment Options</h6>
                <button class="btn btn-outline-light bankingChannelBtn" (click)= "openDialog()"><img src="../../../../assets/_images/bank.svg" alt="icon"> Banking Channel</button>
                <button class="btn btn-outline-light bankingChannelBtn ml-3" *ngIf="status" (click)= "bankPayment(paymentPrepaidNumber)"><img src="../../../../assets/_images/bank.svg" alt="icon"> Jazz Cash</button>
                <button class="btn btn-outline-light bankingChannelBtn ml-3" *ngFor="let obj of payByAccounts" (click)= "navigateToPay(obj.ID)">
                    <img src="../../../../assets/_images/bank.svg" alt="icon"> {{obj.Institution}}
                </button>
            </div>     
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>


<div id="paymentform">

    <form action="https://sandbox.jazzcash.com.pk/CustomerPortal/transactionmanagement/merchantform/" method="POST"
        id="frmPayment">

        <input type="hidden" name="pp_Version" id="pp_Version" [value]="lstPayAxis.pp_Version">
        <input type="hidden" name="pp_TxnType" id="pp_TxnType" [value]="lstPayAxis.pp_TxnType">
        <input type="hidden" name="pp_Language" id="pp_Language" [value]="lstPayAxis.pp_Language">
        <input type="hidden" name="pp_TxnRefNo" id="pp_TxnRefNo" [value]="lstPayAxis.pp_TxnRefNo">
        <input type="hidden" name="pp_MerchantID" id="pp_MerchantID" [value]="lstPayAxis.pp_MerchantID">
        <input type="hidden" name="pp_SubMerchantID" id="pp_SubMerchantID" [value]="lstPayAxis.pp_SubMerchantID">
        <input type="hidden" name="pp_Password" id="pp_Password" [value]="lstPayAxis.pp_Password">
        <input type="hidden" name="pp_Amount" id="pp_Amount" [value]="lstPayAxis.pp_Amount">
        <input type="hidden" name="pp_TxnCurrency" id="pp_TxnCurrency" [value]="lstPayAxis.pp_TxnCurrency">
        <input type="hidden" name="pp_TxnDateTime" id="pp_TxnDateTime" [value]="lstPayAxis.pp_TxnDateTime">
        <input type="hidden" name="pp_TxnExpiryDateTime" id="pp_TxnExpiryDateTime"
            [value]="lstPayAxis.pp_TxnExpiryDateTime">
        <input type="hidden" name="pp_BillReference" id="pp_BillReference" [value]="lstPayAxis.pp_BillReference">
        <input type="hidden" name="pp_Description" id="pp_Description" [value]="lstPayAxis.pp_Description">
        <input type="hidden" name="pp_ReturnURL" id="pp_ReturnURL" [value]="lstPayAxis.pp_ReturnURL">
        <input type="hidden" name="ppmpf_1" id="ppmpf_1" [value]="lstPayAxis.ppmpf_1">
        <input type="hidden" name="ppmpf_2" id="ppmpf_2" [value]="lstPayAxis.ppmpf_2">
        <input type="hidden" name="ppmpf_3" id="ppmpf_3" [value]="lstPayAxis.ppmpf_3">
        <input type="hidden" name="ppmpf_4" id="ppmpf_4" [value]="lstPayAxis.ppmpf_4">
        <input type="hidden" name="ppmpf_5" id="ppmpf_5" [value]="lstPayAxis.ppmpf_5">
        <input type="hidden" name="pp_SecureHash" id="pp_SecureHash" [value]="lstPayAxis.pp_SecureHash">


    </form>
</div>

