@import "../../../../assets/_scss/_variables";

.payment{
  .makePaymentBtn{
    margin-bottom: 15px;
    margin-top: -10px;
  }
    .bankingChannelBtn{
      img{
        width: 20px;
        margin-right: 5px;
        vertical-align: top;
      }
    }

}