<section class="dialogBox">
    <div class="modal-header align-items-center">
        <h6 class="modal-title" id="modal-title">PSID: {{paymentInstructions.PSID}}</h6>
        <button type="button" class="btn btn-primary mr-4" (click)="activeModal.dismiss()">
          View Voucher
        </button>
        <button type="button" class="close closeBtn" aria-describedby="modal-title" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Detail</p>
      </div>
  
</section>
    