<section class="addAccount">
    <div class="contentArea bg-white p-4">
        <h6 class="contentSubTitle">Link Account</h6>
        <form [formGroup]="accountLinkingForm">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label">
                        <select id="account" class="form-control" [(ngModel)]="selectedChannel" formControlName="ChannelID" (change)="accountInfo(selectedChannel)">
                            <option disabled value='undefined'>Select Account | Wallet</option>
                            <option *ngFor="let obj of channels" [value]="obj.ID">{{obj.Name}}</option>
                        </select>
                        <label for="account">Select Account | Wallet</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12" *ngIf="bankTypeContainer">
                    <div class="form-group has-float-label">
                        <select id="accountType" class="form-control" formControlName="BankID" [(ngModel)]="selectedAccountType" >
                            <option disabled value='undefined'>Select Account Type</option>
                            <option *ngFor="let obj of accountTypes" [value]="obj.ID">{{obj.Name}}</option>
                        </select>
                        <label for="accountType">Select Account Type</label>
                    </div>
                </div>
                <ng-container *ngIf="selectedAccountType">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label position-relative">
                            <input maxlength='14' type="text" noWhiteSpace id="accountno" class="form-control" formControlName="AccountNumber" placeholder="Account No">
                            <label for="accountno">Account No</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" id="cnic" [textMask]="{mask: cnicMask}" class="form-control" formControlName="CNIC" placeholder="CNIC No">
                            <label for="cnic">CNIC No</label>                                        
                        </div>
                    </div>
                </ng-container>
         
            </div>
            <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
                <button class="btn btn-primary" type="button" (click)="gotoBack()">Back</button>
                <button class="btn btn-primary ml-3" type="button" [disabled]="accountLinkingForm.invalid" (click)="addAccount()">Link Account</button>
            </div>
        </form>
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
