<section class="registration">
    <h4 class="mb-4 title">Registration</h4>
    <form [formGroup]="registerForm">
      <div class="form-group has-float-label">
          <input type="text" id="name" class="form-control" formControlName="Name" placeholder="Name">
          <label for="name">Name</label>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group has-float-label position-relative" >
                <input type="password"  class="form-control" style="padding-right: 35px" formControlName="Password" autocomplete="new-password" placeholder="Password">
                <label >Password</label>
                <img src="../../../../assets/_images/bell.svg" width="10px" class="mr-3 position-absolute" style="right: 10px;
                top: 45%;"/>
                <img src="../../../../assets/_images/bell.svg" width="10px" class="position-absolute" style="right: 10px;
                top: 45%;"/>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="form-group has-float-label">
                <input type="password" id="password" class="form-control" formControlName="ConfirmPassword" autocomplete="new-password" placeholder="Confirm Password">
                <label for="password">Password</label>
            </div>
        </div>
      </div>
  

        <div class="form-group has-float-label">
            <input type="text" id="username" class="form-control" formControlName="Username" placeholder="Username">
            <label for="username">Username</label>
            <small class="errorMessage" *ngIf="userExist" >Username Already Exist</small>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group has-float-label">
                    <input type="email" id="email" class="form-control" formControlName="Email" placeholder="Email">
                    <label for="email">Email</label>
                    <small class="errorMessage" *ngIf="emailExist" >Email Already Exist</small>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group has-float-label">
                    <input type="text" id="cnic" class="form-control" [textMask]="{mask: cnicMask}" formControlName="CNIC"  placeholder="CNIC">
                    <label for="cnic">CNIC</label>
                    <small *ngIf="cnicExist" >CNIC Already Exist</small>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group has-float-label">
                    <input type="text" id="mobile" class="form-control" [textMask]="{mask: mobileMask}" formControlName="Mobile" placeholder="Mobile No">
                    <label for="mobile">Mobile No</label>                    
                    <small class="errorMessage" *ngIf="mobileExist" >Mobile Already Exist</small>
			</div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group has-float-label">
                    <input type="text" id="store" class="form-control" formControlName="CompanyName" placeholder="Store Name">
                    <label for="store">Store Name</label> 
                    <small class="errorMessage" *ngIf="companyExist" >Company Already Exist</small>
				</div>
            </div>
          </div>
          <div class="form-group has-float-label">
            <textarea rows="2" cols="58" id="address" class="form-control" placeholder="Address" formControlName="Address"></textarea>
            <label for="address">Address</label> 
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-lg btn-primary mr-3" type="button" routerLink="/login">Back</button>
            <button class="btn btn-lg btn-primary ml-3" type="button" (click)="register()" [disabled]="!registerForm.valid" >Signup</button>
        </div>

    </form>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>

  
  