<section class="sidebar">
    <nav>
        <ul class="navbar-nav">
          <li class="nav-item" >
            <a class="nav-link" routerLink="/user/dashboard" routerLinkActive="active">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/messages" routerLinkActive="active">
             My Network
            </a>
          </li>    
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/payment" routerLinkActive="active">
              Make Payment
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/profile" routerLinkActive="active">
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user/support" routerLinkActive="active">
              Support
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">
              Logout
            </a>
          </li>
        </ul>
    </nav>
    <footer>
        <span>
            Terms & Conditions
        </span>
    </footer>
</section>

  