@import './_variables';

html{
    margin: 0;
    padding:0;
    body{
      @extend html;
      height: 100%;
      font-family: $baseSourceSansRegularFont;
      .pointer{
        cursor:pointer;
      }
      .title{
        color: $baseColor;
        font-family: $baseSourceSansRegularFont;
      }
      .errorMessage{
        color: #ff0000;
        font-size: 12px;
        position: absolute;
      }
      .small-modal {
        .modal-dialog {
          max-width: 400px!important;
          margin: auto
        }
      }
      .form-group{
        margin-bottom: 1.5rem;
      }
      .form-control{
        height: 48px;
        &:focus{
          border-color: #ced4da;
          box-shadow: unset;
        }

      }
      .btn{
        &:focus, &:disabled, &:not(:disabled):not(.disabled):active:focus{
          box-shadow: unset;
          // background: $baseColor;

        }
        &-outline-light{
          color: #212529;
          background-color: transparent;
          border-color: $baseFontColor;
          &:hover{
          border-color: $baseFontColor;
          }
        }
        &-primary{
          font-size: 16px;
          background: $baseColor;
          min-width: 150px;
          padding-top: 8px;
          padding-bottom: 8px;
          border: unset;
          &:focus, &:active, &:hover, &:disabled, &:not(:disabled):not(.disabled):active{
            border: unset;
            background: $baseColor;
          }
        }
  
      }
      .breadcrumb
      {
        background-color: unset;
        padding: .75rem 0rem;
        color: $baseFontColor;
      }

    }
  }
  ngb-tabset{
    .nav-tabs{
        .nav-item{
            &:first-child {
                .nav-link{
                    padding-left: 0px;
                }
               
            }
            .nav-link{
                border: unset;
                color: $tabInputColor;
                &:hover{
                    border: unset;
                }

                &.active{
                    background-color: transparent;
                    border: unset;
                    color: $baseColor;
                    border-bottom: 1px solid $baseColor;
                }
            }
        }
    }

    .tab-content
    {
      padding: 15px 0;
        
    }
}
  .dropdown{
    &-toggle::after{
      display:none;
    }
    &-item:active{
      background-color: #afafaf;
    }
    &-item:focus{
      outline: unset;
    }
    &-menu{
      left: auto !important;
      right: 0px !important;
      top: auto !important;
      transform: unset !important;

    }
  }
  .content{
 
    &Header {
      padding-bottom: 2px;
      border-bottom: 1px solid $baseFontColor;
      margin-bottom: 24px;
      color: $baseFontColor;
    }
    &Area{
      border: 1px solid #BCBEC0;
      .contentSubTitle{
        margin-left: -5px;
        color: $baseFontColor;
        font-size: 17px;
        margin-bottom: 18px;
      }
  }
  .gridArea{
    height: 450px;
    &.table-responsive{
      max-height: 400px;
      .table{
        text-align: center;
        margin: 0;
        th{
          border-top: unset;
          background-color: #e9ecef;
  
        }
        tbody{
          tr:nth-child(odd) {
            background-color: #fff;
          }
          tr:nth-child(even) {
            background-color: #e9ecef;
          }
        }
      
      }
    }
  }
}
