<section class="orderDescription">
    <div class="contentArea bg-white p-4">
        <form [formGroup]="orderDetailForm">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label">
                        <input type="text" id="CompanyName" class="form-control" formControlName="CompanyName" placeholder="Company Name">
                        <label for="CompanyName">Company Name</label>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label">
                        <input type="text"  id="OrderNumber" class="form-control" formControlName="OrderNumber" placeholder="Order ID">
                        <label for="OrderNumber">Order ID</label>
                    </div>
                </div>
        
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label">
                        <input type="text" id="CreatedDate" class="form-control" formControlName="OrderCreatedDate" placeholder="Created Date" >
                        <label for="CreatedDate">Created Date</label>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label">
                        <input type="text"  id="OrderStatus"  class="form-control" formControlName="OrderStatus"  placeholder="Order Status">
                        <label for="OrderStatus">Order Status</label>                                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group has-float-label">
                        <textarea rows="2" id="Comment" class="form-control" placeholder="Comments" formControlName="Comment"></textarea>
                        <label for="Comment">Comments</label>
                    </div>
                </div>
            </div>

            <div class="text-right">
                <button class="btn btn-primary ml-3" type="button" routerLink="/user/dashboard">Back</button>
            </div>

        </form>
    </div>
</section>