<section class="searching">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <select class="form-control" [(ngModel)]="searchingOption" (change)="selectedOption(searchingOption)">
            <option value="undefined" selected>Select Criteria</option>
            <option *ngFor="let option of searchingCriteria?.searchBy" [value]="option.key">{{option.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-4" [ngSwitch]="selectedObject?.type">
        <div class="form-group" *ngSwitchCase="'typing'">
          <input class="form-control" type="text" #search [placeholder]="selectedObject?.placeholder" />
        </div>
        <div class="form-group d-flex" *ngSwitchCase="'dateRange'">
          <div class="position-relative">
            <input class="form-control mr-2 leftOpen" #dateSearchOne (keydown)="onlyBackSpaceAllow($event)" placement="left-bottom" [placeholder]="selectedObject?.placeholder[0]"
            autocomplete="off" [maxDate]="toDate || maxDate" (closed)="calenderSearching('fromDate')" [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle(); getCurrentDate(fromDate, 'fromDate')">
          </div>

          <div class="position-relative">
            <input class="form-control ml-2 rightOpen" #dateSearchTwo (keydown)="onlyBackSpaceAllow($event)" placement="right-bottom" [placeholder]="selectedObject?.placeholder[1]"
            autocomplete="off" [maxDate]="maxDate" [minDate]="fromDate" (closed)="calenderSearching('toDate')" [(ngModel)]="toDate" ngbDatepicker #dp="ngbDatepicker" (click)="dp.toggle(); getCurrentDate(toDate, 'toDate')">
          </div>
       
        </div>

        <div class="form-group" *ngSwitchCase="'dropdown'">
          <select class="form-control" #search (change)="searchOnChange(search)">
            <option value="" selected>{{selectedObject?.placeholder}}</option>
            <option *ngFor="let obj of selectedObject?.filterBy" [value]="obj.key">{{obj.value}}</option>
          </select>
        </div>

        <div class="form-group d-flex" *ngSwitchCase="'range'">
          <input class="form-control mr-2" type="number" min="1" autocomplete="off" numbersOnly #searchRangeOne [placeholder]="selectedObject?.placeholder[0]" /> 
          <input class="form-control ml-2" type="number" min="1" autocomplete="off" numbersOnly #searchRangeTwo [placeholder]="selectedObject?.placeholder[1]" />
        </div>
      </div>
  </div>

</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>