@import "../../../assets/_scss/_variables";

.searching{
  ngb-datepicker{
    .ngb-dp-header{
      background-color: unset;
      ngb-datepicker-navigation{
        .ngb-dp-arrow{
          .ngb-dp-arrow-btn{
            color: $baseColor;
            &:focus{
              outline: unset;
            }
          }

        }
        ngb-datepicker-navigation-select{
          .custom-select{
            margin: 2px;
            &:focus{
              border-color:#ced4da;
              box-shadow:unset;
            }
          }
        }

      }
    }
    .ngb-dp-months{
      .ngb-dp-month{
        .ngb-dp-week{
          padding-left: 1rem;
          padding-right: 1rem;
          background-color: unset;
         
          .ngb-dp-day{
            &:focus{
              outline: unset;
            }
            &:last-child{
              .btn-light{
                color: red;
              }
            }
            .btn-light{
              &.bg-primary{
                background-color: $baseColor !important;
                border-radius: .15rem
              }
            }
          }
          
        }
        .ngb-dp-weekday{
          font-style: normal;
          color: #777777;
        }
      }
 
    }
   
    
  }

  .leftOpen + ngb-datepicker{
    right: auto !important;
  }
}