<section class="changeMPIN">
    <div class="contentArea bg-white p-4">
        <h6 class="contentSubTitle">Enter Old MPIN</h6>
        <form [formGroup]="accountLinkingForm">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label password">
                        <input noWhiteSpace [type]="passToggle ? 'text':'password'" id="oldpassword" class="form-control" formControlName="Password" placeholder="Old Password"
                        [ngClass]="{'validationError':  oldPasswordError || (passwordForm.controls['Password'].errors && (passwordForm.controls.Password.dirty || passwordForm.controls.Password.touched))}">
                        <label for="oldpassword">Old MPIN</label>
                        <span (click)="passToggle=!passToggle">
                            <img src="../../../../assets/_images/eye.svg" alt="icon" width="17" />
                        </span>
                        <p *ngIf="passwordForm.controls['Password'].errors || oldPasswordError" class="errorMessage">
                            <small *ngIf="oldPasswordError && !passwordForm.controls['Password'].errors">Password mismatch</small>
                        </p>
                    </div>
                </div>
            </div>
            <h6 class="contentSubTitle">Enter new MPIN</h6>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group has-float-label password">
                        <input noWhiteSpace [type]="newToggle ? 'text':'password'" id="newpassword" class="form-control" formControlName="NewPassword"  placeholder="New Password"
                        [ngClass]="{'validationError': newPasswordError || passwordForm.controls['NewPassword'].errors && (passwordForm.controls.NewPassword.dirty || passwordForm.controls.NewPassword.touched)}">
                        <label for="newpassword">New MPIN</label>
                        <span (click)="newToggle=!newToggle">
                            <img src="../../../../assets/_images/eye.svg" width="17" alt="icon" />
                        </span>
                        <img src="../../../../assets/_images/info.svg" width="14" alt="icon" class="infoIcon"
                        triggers="click" placement="bottom-right" [autoClose]="'outside'" ngbTooltip="Password must be minimum 6 characters long including 1 numeric value, 1 upper or lower case alphabet and 1 special character"/>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group has-float-label password">
                        <input  noWhiteSpace [type]="confirmToggle ? 'text':'password'" id="confirmpassword"  class="form-control" formControlName="ConfirmPassword" placeholder="Confirm Password"
                        [ngClass]="{'validationError': newPasswordError || passwordForm.controls['ConfirmPassword'].errors && (passwordForm.controls.ConfirmPassword.dirty || passwordForm.controls.ConfirmPassword.touched)}">
                        <label for="confirmpassword">Confirm MPIN</label>
                        <span (click)="confirmToggle=!confirmToggle">
                            <img src="../../../../assets/_images/eye.svg" alt="icon" width="17" />
                        </span>
                        <p *ngIf="newPasswordError" class="errorMessage">
                            <small>{{newPasswordError}}</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
                <button class="btn btn-primary" type="button" (click)="gotoBack()">Back</button>
                <button class="btn btn-primary ml-3" type="button">Link Account</button>
            </div>
    
        </form>
    </div>
</section>