<section class="support">
    <h4 class="mb-4 title">Welcome to Haball support center</h4>
    <form [formGroup]="supportForm">
        <div class="form-group has-float-label">
            <input type="text" id="name" class="form-control" formControlName="ContactName" placeholder="Full Name"
            [ngClass]="{'validationError': supportForm.controls['ContactName'].errors && (supportForm.controls.ContactName.dirty || supportForm.controls.ContactName.touched)}">
            <label for="name">Full Name</label>
        </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group has-float-label">
                        <input type="email" id="email" class="form-control" formControlName="Email" placeholder="Email">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group has-float-label">
                        <input type="text" id="mobile" class="form-control" [textMask]="{mask: mobileMask}" formControlName="MobileNumber" placeholder="Mobile No">
                        <label for="mobile">Mobile No</label>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group has-float-label">
                        <select name="PreferredContactMethod" id="contact" class="form-control" formControlName="PreferredContactMethod">
                        <option value="null" disabled selected>Contact Method</option>
                        <option *ngFor="let contact of contacting" [value]="contact.key"> {{contact.value}} </option>
                        </select>
                    <label for="contact">Contact Method</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group has-float-label">
                        <select name="IssueType" id="Issue" class="form-control" formControlName="IssueType"
                            placeholder="Issue Type">
                             <option value="null" disabled selected>Issue Type</option>
                            <option *ngFor="let issue of issueType" [value]="issue.key"> {{issue.value}} </option>
                        </select>
                        <label for="Issue">Issue Type</label>
                    </div>
                </div>
            </div>
            <div class="form-group has-float-label">
                <select name="Criticality" id="criticality" class="form-control" formControlName="Criticality"
                placeholder="Criticality">
                <option value="null" disabled selected>Criticality Type</option>
                <option *ngFor="let critical of criticality" [value]="critical.key"> {{critical.value}} </option>
            </select>
            <label for="criticality">Criticality</label>
            </div>


            <div class="form-group has-float-label">
                <textarea rows="4" id="address" cols="58" class="form-control" placeholder="Address" formControlName="Description"></textarea>
                <label for="address">Address</label>
            </div>

        <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-center">
            <button class="btn btn-lg btn-primary mr-3" type="button" routerLink="/login">Login</button>
            <button class="btn btn-lg btn-primary ml-3" type="button" (click)="save()" [disabled]="supportForm.invalid">Submit</button>
        </div>
    </form>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
