<section class="support">
    <h4 class="mb-4 title">Welcome to Haball support center</h4>
    <form [formGroup]="supportForm">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="ContactName" placeholder="Full Name">

        </div>
        
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="Email" placeholder="Email">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" [textMask]="{mask: mobileMask}" formControlName="MobileNumber" placeholder="Mobile No">
                       
                    </div>
                </div>
            </div>
        

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <select name="PreferredContactMethod" class="form-control" formControlName="PreferredContactMethod"
                        placeholder="Contact Method">
                        <option value="null" disabled selected>Contact Method</option>
                        <option *ngFor="let contact of contacting" [value]="contact.key"> {{contact.value}} </option>
                    </select>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group">
                        <select name="IssueType" class="form-control" formControlName="IssueType"
                            placeholder="Issue Type">
                            <option value="null" disabled selected>Issue Type</option>
                            <option *ngFor="let issue of issueType" [value]="issue.key"> {{issue.value}} </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <select name="Criticality" class="form-control" formControlName="Criticality"
                placeholder="Criticality">
                <option value="null" disabled selected>Criticality Type</option>
                <option *ngFor="let critical of criticality" [value]="critical.key"> {{critical.value}} </option>
            </select>
            </div>
       
       
            <div class="form-group">
                <textarea rows="4" cols="58" class="form-control" placeholder="Address" formControlName="Description"></textarea>
            </div>
       
        <div class="d-flex justify-content-center">
            <button class="btn btn-lg btn-primary mr-3" type="button" routerLink="/login">Login</button>
            <button class="btn btn-lg btn-primary ml-3" type="button" (click)="save()"
                [disabled]="!supportForm.valid">Submit</button>
        </div>
    </form>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
