<section class="content accounts">
    <div class="connectionDetail">
        <div class="text-right addAccountbtn">
            <button class="btn btn-primary" type="button" (click)="addAccount()">Add Account</button>
        </div>
        <div class="row accountList" id="nav-scrollbar" *ngIf="data && data.length">
            <div class="col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let obj of data">
                <div class="card" >
                    <div class="card-body d-flex flex-column justify-content-between">
                     <div class="d-flex justify-content-between">
                         <div>
                            <h5 class="card-title mb-0">{{obj.AccountTitle}}</h5>
                            <span class="font-weight-bold">{{obj.AccountType}}</span>
                         </div>
                         <div ngbDropdown class="d-inline" placement="bottom-right">
                            <img class="pointer" src="../../../../assets/_images/menu.svg" alt="menu" width="15" ngbDropdownToggle>
                            <div ngbDropdownMenu>
                                <button ngbDropdownItem *ngIf ="!obj.AccountStatus" (click)="redirectMPIN('createMPIN', obj)">Create MPIN</button>
                                <button ngbDropdownItem *ngIf ="obj.AccountStatus < 2"(click)="removeAccount(obj)">Remove</button>
                                <ng-container *ngIf ="obj.AccountStatus == 1">
                                    <button ngbDropdownItem  (click)="redirectMPIN('changeMPIN', obj)">Change MPIN</button>
                                    <button ngbDropdownItem  (click)="resetMPIN(obj)">Reset MPIN</button>
                                </ng-container>
                              </div>
                        </div>
                        </div>
                        <div>
                          <small>Status : <b>{{obj.AccountStatusDesc}}</b></small><br>
                          <small>Account No : {{obj.AccountNumber}}</small>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
      <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!data.length && !showSpinner">No Account Linked</span>
    </div>
   
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
