<section class="internalSupportEdit">
    <div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item">Support</a>
        </li>
        <li class="breadcrumb-item">
            <a class="breadcrumb-item"> {{breadcrumbSupport}} </a>
        </li>
    </ol>
    <div class="content">
        <div class="contentHeader">
            <h5>Support</h5>
        </div>
        <div class="contentArea bg-white p-4">
        <h6 class="contentSubTitle" *ngIf="!supportDetail.ID">Welcome to Haball Support Center</h6>
        <p *ngIf="supportDetail.ID"> Ticket ID :{{supportDetail.TicketNumber}} </p>
        <p class="errorMessage" *ngIf="message">Invalid Ticket Number</p>
        <form [formGroup]="supportForm">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <input type="text" id="contactname" class="form-control" disabled placeholder="Contact Name"
                                formControlName="ContactName">
                                <label for="contactname">Contact Name</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label position-relative">  
                            <input type="text" class="form-control" id="email" placeholder="Email" [readonly]="emailEdit" formControlName="Email">
                            <label for="email">Email</label>                            
                            <img src="../../../../assets/_images/edit.svg" width="15px" (click)="emailEdit= !emailEdit" 
                            *ngIf="!supportDetail.ID"  class="mr-3 position-absolute" style="right: 5px; top: 35%;" />
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label position-relative">  
                            <input type="text" class="form-control" id="mobile" [readonly]="mobileEdit"  placeholder="Mobile No"
                                [textMask]="{mask: mobileMask}" formControlName="MobileNumber">
                                 <label for="mobile">Mobile No</label>                                                        
                                <img src="../../../../assets/_images/edit.svg" (click)="mobileEdit= !mobileEdit" 
                                *ngIf="!supportDetail.ID" width="15px"
                                class="mr-3 position-absolute" style="right: 5px; top: 35%;" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <select name="IssueType" id="issuetype" class="form-control" formControlName="IssueType"
                                placeholder="Issue Type">
                                <option value="null" disabled selected>Issue Type</option>
                                <option *ngFor="let issue of issueType" [value]="issue.key"> {{issue.value}} </option>
                            </select>
                            <label for="issuetype">Issue Type</label>                                                                                    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <select name="IssueType" id="criticality" class="form-control" formControlName="Criticality"
                                placeholder="Criticality">
                                <option value="null" disabled selected>Criticality</option>
                                <option *ngFor="let critical of criticality" [value]="critical.key"> {{critical.value}}
                                </option>
                            </select>
                            <label for="criticality">Criticality</label> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group has-float-label">
                            <select name="IssueType" id="contactmethod" class="form-control" formControlName="PreferredContactMethod"
                                placeholder="Contact Method">
                                <option value="null" disabled selected>Contact Method</option>
                                <option *ngFor="let contact of contacting" [value]="contact.key"> {{contact.value}}
                                </option>
                            </select>
                            <label for="contactmethod">Contact Method</label> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-float-label">
                            <textarea name="description" id="description" class="form-control" placeholder="Description" formControlName="Description" rows="3"></textarea>
                            <label for="description">Description</label> 
                        </div>
                    </div>
                </div>
            <div class="text-right">
                <button class="btn btn-primary" type="button" routerLink="/user/support">Close</button>
                <button class="btn btn-primary ml-3" type="button" (click)="save()" *ngIf="!supportDetail.ID" [disabled]="supportForm.invalid">Submit</button>
                <button class="btn btn-primary ml-3" type="button" (click)="delete()" *ngIf="supportDetail.ID && !Message && !supportDetail.Status">Delete</button>
            </div>
        </form>             
        </div>
    </div>
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>
