<section class="network">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a routerLink="/user/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-item">Network</a>
            </li>
        </ol>
        <ngb-tabset>
            <ngb-tab>
                <ng-template ngbTabTitle>My Network</ng-template>
                <ng-template ngbTabContent>
                    <div class="content">
                        <div class="connectionDetail">
                            <div class="row networks" id="nav-scrollbar">
                                <div class="col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let network of lstTotalNetwork">
                                    <div class="card" >
                                        <div class="card-body">
                                          <h5 class="card-title">{{network.CompanyName}}</h5>
                                          <small>Status : <b>{{network.Status}}</b></small><br>
                                          <small>{{network.Mobile}}</small><br>
                                          <small>{{network.Address}}</small>
                                        </div>
                                      </div>
                                </div>
                            </div>
                          <span class="d-flex align-items-center justify-content-center h-100" *ngIf="!lstTotalNetwork.length && !showSpinner">No Data Available</span>
                        </div>
                        <div class="col-md-12 text-center" *ngIf="loadAvailable">
                            <button class="btn" (click)="loadMore()" >Load More</button>
                        </div>
                    </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab [disabled]="true">
                <ng-template ngbTabTitle>Sent</ng-template>
                <ng-template ngbTabContent>
                    <div class="content">


                    </div>

                </ng-template>
            </ngb-tab>
            <ngb-tab [disabled]="true">
                <ng-template ngbTabTitle>Received </ng-template>
                <ng-template ngbTabContent>
                    <div class="content">


                    </div>

                </ng-template>
            </ngb-tab>
           
        </ngb-tabset>
</section>
<ngx-spinner [visible]="showSpinner"></ngx-spinner>