.order{
    .tab-content{
        .mutedBtn{
            opacity: .65;
        }
        .summary{
            border-bottom: 1px solid #BCBEC0;
            span
            {
                font-weight: bold;
            }
        }
        .content{
            border: 1px solid #BCBEC0;
            border-radius: 3px;
            .gridArea{
                height: unset;
                .table{
                    tr{
                        background-color: transparent !important;
                        &:hover{
                            background-color: #e9ecef !important;
                        }
                        th{
                            &.productCode{
                                min-width:105px
                            }
                              &.productTitle{
                                min-width:100px
                            }
                              &.dicountedPrice{
                                min-width:130px
                            }
                              &.packSize{
                                min-width:80px
                            }  
                            &.qty{
                                min-width:200px
                            }
                            @extend tr;
                        }
                        td{
                            vertical-align: middle;
                            .delIcon{
                                width: 15px;
                                cursor:pointer;
                                vertical-align: top;
                            }
                            input{
                                height: unset;
                                margin: auto;
                            }
                            &.node{
                                    font-weight: bold;
                                    text-align: left;
                                    text-indent: 10px;
                                    p-treetabletoggler{
                                        .ui-treetable-toggler {
                                            position: relative;
                                            .pi-chevron-right::before{
                                                content: "+";
                                                font-style: normal;
                                                position: absolute;
                                                font-size: 22px;
                                                color: #96bb3d;
                                                bottom: -9px;
                                                font-weight: normal;
                                            }
                                            .pi-chevron-down::before{
                                                @extend .pi-chevron-right,::before;
                                                content: "–";
                                                
                                            }
                                        }
                                    }
                                    span{
                                      margin-left: 35px;
                                    }
                            }
                        }
                    }
                  
                }
            }
         
        }
    }
 
   
}