.termCondition{
    #nav-scrollbar{
        height: 400px;
        overflow-y: auto;
        margin-bottom: 20px;
        .content{
            text-align: justify;
            font-size: .8rem;
        
        }
    }

}