.termCondition{
    #nav-scrollbar{
        height: 400px;
        overflow-y: auto;
        
        .content{
            text-align: justify;
            font-size: .8rem;
            .content-area{
                h1{
                  font-size: 20px !important;
                  color: #96bb3d !important;
                }
                table{
                    td{
                        border: 1px solid #cccccc !important;
                        padding: 5px;
                        }
                    }
            }

         
              
        
        }
    }

}
