<section class="registration">
    <h4 class="mb-4 title">Terms and Conditions</h4>
    <div style="height: 400px;overflow-y: auto;margin-bottom: 20px;" id="nav-scrollbar">
        <strong>lawyers se text Nahe mila :P</strong>
      <p>Time: 594msascasaavaaaaada</p>

    </div>
        <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-center">
            <button class="btn btn-lg btn-primary mr-3" type="button" routerLink="/login">Disagree</button>
            <button class="btn btn-lg btn-primary ml-3" type="button" (click)="agreeTermsAndConditions()">Agree</button>
        </div>
  </section>
