@import "../../../assets/_scss/_variables";

.authentication{
    .content{
        padding:5rem 0;
        .logo{
            background: url('../../../assets/_images/logo.png') no-repeat left;
            height: 48px;
            background-size: 110px;
        }
        .noMargin{
            margin: 0 !important;
        }
        .login{
            padding: 20px 0.8em;
            background: #f8f8f8;
            box-shadow: 0px 0px 5px 3px #e5e5e5;
        }
        .forgotPassword{
            @extend .login;
        }
        .updatePassword{
            @extend .login;
        }
        .registration{
            @extend .login;
        }
        .support{
            @extend .login;
        }
        .termCondition{
            @extend .login;
        }

    }

}
