<section class="authentication">
    <div class="container-fluid">
     <div class="row">
        <section class="content col-10 offset-1">
            <div class="row">
                <div class="col-lg-5 col-md-12 mb-3">
                    <h1 class="logo text-hide">Logo</h1>
                    <h4 class="mt-4 mb-3 title">Welcome to Retailer Portal</h4>
                    <p class="text-justify">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                    content here', making it look like readable English.
                    </p>
                    <button class="btn btn-primary">Support</button>
                </div>
                <div class="col-lg-6 col-md-12 offset-lg-1">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </section>
     </div>
    </div>
</section>
