<section class="dialogBox">
  <div class="modal-header">
      <h4 class="modal-title text-warning title" id="modal-title">{{dialogBoxObject.title}}</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="text-center">{{dialogBoxObject.detail}}</p>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="delete()">Yes, I want</button>
      </div>
    </div>
</section>
