<section class="paymentDetail">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/user/dashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a class="breadcrumb-item">Payments</a>
            </li>
        </ol>
        <div class="content">
            <div class="contentHeader">
                <h5>Payments</h5>
            </div>
            <div class="text-right makePaymentBtn">
                <button class="btn btn-primary" type="button" routerLink="/user/payment">Make New Payment</button>
            </div>
            <div class="contentArea bg-white p-4">
                <form [formGroup]="paymentDetailForm">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group has-float-label">
                                <input type="text" id="psID" class="form-control" placeholder="PS-ID" formControlName="PrePaidNumber">
                                <label for="psID"> PS-ID </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group has-float-label">
                                <input type="text" class="form-control" id="companyName" placeholder="Company Name" formControlName="CompanyName">
                                <label for="companyName"> Company Name </label>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group has-float-label">
                                <input type="text" id="createdDate" class="form-control" placeholder="Created Date" formControlName="CreatedDate">
                                <label for="createdDate"> Created Date </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group has-float-label">
                                <input type="text" id="transactionDate" class="form-control" placeholder="Transaction Date" formControlName="TransactionDate">
                                <label for="transactionDate"> Transaction Date </label>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group has-float-label">
                                <input type="text" class="form-control" placeholder="Bank name" id="bankName" formControlName="BankName">
                                <label for="bankName"> Bank name </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group has-float-label">
                                <input type="text" id="authID" class="form-control" placeholder="Auth ID" formControlName="AuthID">
                                <label for="authID">Transaction Auth ID </label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12" *ngIf="paymentDetailForm.controls['SettlementID'].value">
                            <div class="form-group has-float-label">
                                <input type="text" class="form-control" id="settlementID" placeholder="Settlement ID" formControlName="SettlementID">
                                <label for="settlementID"> Settlement ID </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                                <div class="form-group has-float-label">
                                    <input type="text" class="form-control" id="status" placeholder="Status" formControlName="Status">
                                    <label for="status"> Status </label>
                                </div>
                            </div>
                  
                    </div>
                    <div class="row">
                            <div class="col-md-6 col-sm-12">
                                    <div class="form-group has-float-label">
                                        <input type="text" class="form-control" id="amount" placeholder="Amount" formControlName="PaidAmount">
                                        <label for="amount"> Amount </label>
                                    </div>
                                </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group has-float-label">
                                <input type="text" class="form-control" id="transactionCharges" placeholder="Transaction Charges" formControlName="TransactionCharges">
                                <label for="transactionCharges"> Transaction Charges</label>
                            </div>
                        </div>
               
                    </div>
                    <div class="row">
                            <div class="col-12">
                                    <div class="form-group has-float-label">
                                        <input type="text" class="form-control" id="total" placeholder="Total Amount" formControlName="TotalAmount">
                                        <label for="total"> Total Amount </label>
                                    </div>
                                </div>
                    </div>
                    <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
                        <button class="btn btn-primary mr-3" type="button" [disabled]="paymentDetailForm.invalid">View Receipt</button>
                        <button class="btn btn-primary ml-3" type="button" routerLink="/user/dashboard">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>