.paymentDetail{
    .makePaymentBtn{
        margin-top: -16px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .contentArea
      {
      max-height: 380px;
      overflow-y: auto;
      }


}